
.slide-right{
    animation-timing-function: ease-in-out;
    animation-duration: 1.8s;
    animation-fill-mode: both;
    animation-name: slide-down-anim;

}

@keyframes slide-down-anim{
    from{
        opacity: 0;

    }
    to{
        transform: none;
        opacity: 1;
    }
}

.bg{
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}