
.slide-right{
    animation-timing-function: ease-in-out;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slide-down-anim;

}

@keyframes slide-down-anim{
    from{
        transform: translateY(-10%);
        opacity: 0;

    }
    to{
        transform: none;
        opacity: 1;
    }
}